<template>
  <p>Reaction time : {{ score }} ms</p>
  <div class="rank">{{ rank }}</div>
</template>

<script>
export default {
  props: ['score'],
  data() {
    return {
      rank: null
    }
  },
  mounted() {
    if (this.score < 250) {
      this.rank = 'You are the boss :)'
    } else if (this.score < 400) {
      this.rank = 'You cound do better ;P'
    } else {
      this.rank = 'Booooooo!!!'
    }
  }
}
</script>

<style>
  .rank {
    font-size: 1.4em;
    color: #5cc48a;
    font-weight: bold;
  }
</style>